body
{
	margin: 0px;
	padding: 0px;
}

.showcase
{
	width: 100%;
	height: 600px;
/*
	background-image: url("../images/1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
*/
}
.menu
{
	border: 1px solid black;
	border-radius: 5px;
	width: 20%;
	height: auto;
	margin: 0px 0px 0px 70%;
}
.menu li
{
	display: inline;
	margin: 0px 15px 0px 15px;
}
.menu li:hover
{
	text-decoration: underline;
}
.menu a
{
	text-decoration: none;
	font-size: 16px;
	font-family: Quicksand;
	font-weight: 1000;
	color: black;
}
.content
{
	margin: 20px 0px 0px 0px;
	width: 100%;
	height: 300px;
	display: block;
}
.content h1
{
	font-family: Cambria;
	font-weight: bold;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
.content p
{
	font-family: Comic Sans MS;
	font-size: 40px;
	text-align: center;
}

.upload {
    background-color:#fff;
    border: 1px solid black;
    display:inline-block;
    height: 30px;
    position:relative;
    width: 10%;
    padding: 5px 10px 0px 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 40%;
}
.upload span
{
    font-family: Quicksand;
    font-size: 17px;
}

.upload:hover {
    opacity:0.95;
}

.upload input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    position:absolute;
}
#button_1
{
	height: 35px;
	width: 70px;
	border: 1px solid black;
	font-family: Roboto;
	font-size: 17px;
	border-radius: 5px;
	margin: 0px 0px 0px 10px;
}
.about
{
	height: 500px;
	width: 100%;
	margin: 30px 0px 0px 0px;
}
.about_content
{
	width: 30%;
	height: 500px;
	background-color: blue;
	float: left;
}
.about_images
{
	background-color: yellow;
	height: 500px;
	width: 40%;
	float: left;
}
.about_information
{
	background-color: green;
	height: 500px;
	width: 30%;
	float: left;
}
table
{
	border: 1px solid black;
}
footer
{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 20px 0px 0px 0px;
}
