<!DOCTYPE html>
<html>
	
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	
	<div class="showcase">
	<div class="menu">
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('about') }}">About Us</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="about">
			<div class="about_content">
				<h1>About Us</h1>
				<p>
					Image analysis is the extraction of meaningful information from images; mainly from digital images by means of digital image processing techniques. 
					Image analysis tasks can be as simple as reading bar coded tags or as sophisticated as identifying a person from their face.

					Computers are indispensable for the analysis of large amounts of data, for tasks that require complex computation, or for the extraction of quantitative 
					information. On the other hand, the human visual cortex is an excellent image analysis apparatus, especially for extracting higher-level information, 
					and for many applications — count or survey, especially of a population, security, and remote sensing — human analysts still cannot be replaced by computers. 
					For this reason, many important image analysis tools such as edge detectors and neural networks are inspired by human visual perception models.
				</p>
			</div>
			
			<div class="about_information">
				<h1>Contact Us</h1>
				
				<p>Having a problem??</br>Try contacting us and lets have a conversation...</p>
				
				<label>Name</label>
				<input type="text" name="name">
				
				<label>Email</label>
				<input type="text" name="email">
				
				<label id="message">Message</label>
				<input type="text" name="message">
				
				<button type="submit" id="button_2">Submit</button>
					
			</div>
			
		</div>
		</div>

		
		<footer>&copy REKS 2019</footer>
		
</body>
</html>
