<!DOCTYPE html>
<html>
	
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	
	<div class="showcase">
	<div class="menu">
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('about') }}">About Us</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="about">
			<div class="about_content">
				<h1>About Us</h1>
				<p>
					As an exercise for English students, generate a list of ten random words and,
					have the student write a story that incorporates those words in the order they're generated.
					You could also take the hard work out of playing MadLibs but for that you'll need to separate out the parts of speech. 
					There's generators for each one, just jump over using the options below.
				</p>
			</div>
			
			<div class="about_information">
				<h1>Contact Us</h1>
				
				<p>Having a problem??</br>Try contacting us and lets have a conversation...</p>
				
				<label>Name</label>
				<input type="text" name="name">
				
				<label>Email</label>
				<input type="text" name="email">
				
				<label id="message">Message</label>
				<input type="text" name="message">
				
				<button type="submit" id="button_2">Submit</button>
					
			</div>
			
		</div>
		</div>

		
		<footer>&copy REKS 2019</footer>
		
</body>
</html>
