<!DOCTYPE html>
<html>
	
<head>
	<title>Welcome | Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<div class="showcase">
		<div class="menu">
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('about') }}">About Us</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="content">
			<h1>Welcome</h1>
			<p>Find details about an Image using URLs</p>
			<form action="/result" method="POST" enctype="multipart/form-data">
				<input name="url" type="text" placeholder="Paste an image URL">
				<button type="submit" id="button_1">Submit</button>
			</form>
		</div>

		
	</div>
	
	<footer>&copy Global Code 2019</footer>
	

	

</body>
</html>
